@using EntityLayer.Concrete
@model List<Testimonial>

<section class="client_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Referanslarımız
            </h2>
        </div>
    </div>
    <div id="customCarousel2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @for (var i = 0; i < Model.Count; i++)
            {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="@Model[i].ImageUrl" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <div class="client_info">
                                            <div class="client_name">
                                                <h5>
                                                    @Model[i].Name
                                                </h5>
                                                <h6>
                                                    @Model[i].Title
                                                </h6>
                                            </div>
                                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                                        </div>
                                        <p>
                                            @Model[i].Comment
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <ol class="carousel-indicators">
            @for (var i = 0; i < Model.Count; i++)
            {
                <li data-target="#customCarousel2" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
            }
        </ol>
    </div>
</section>
