@using EntityLayer.Concrete
@model List<Feature>


<section id="anasayfa" class="slider_section">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @for (var i = 0; i < Model.Count; i++)
            {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 mx-auto">
                                <div class="detail-box">
                                    <h1>@Model[i].Header</h1>
                                    <h3 style="color:Tomato;">@Model[i].Name</h3>
                                    <div class="btn-box">
                                        <a href="" class="btn1">İletişim</a>
                                        <a href="" class="btn2">Hakkımızda</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <ol class="carousel-indicators">
            @for (var i = 0; i < Model.Count; i++)
            {
                <li data-target="#customCarousel1" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
            }
        </ol>
    </div>
</section>

