@model EntityLayer.Concrete.Service

@{
    ViewData["Title"] = "EditService";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
    <h6 class="text-white text-capitalize ps-3">Hizmet Düzenleme Sayfası</h6>
</div>
<br />
@using (Html.BeginForm("EditService", "Service", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.ServiceID)

    @* @Html.Label("Hizmet Başlığı") *@
    <label>Hizmet Başlığı</label>
    @Html.TextBoxFor(x=>x.Title, new {@class = "form-control"})
    @Html.ValidationMessageFor(x=>x.Title)
    <br />
    @* @Html.Label("Hizmet Resimi") *@
    <label>Hizmet Resimi</label>
    @Html.TextBoxFor(x=>x.ImageUrl, new {@class = "form-control"})
    @Html.ValidationMessageFor(x=>x.ImageUrl)
    <br />
    @* @Html.Label("Hizmet Açıklaması") *@
    <label>Hizmet Açıklaması</label>
    @Html.TextAreaFor(x=>x.Description, new {@class = "form-control"})
    @Html.ValidationMessageFor(x=>x.Description)
    <br />
    <button class="btn btn-primary">Güncelle</button>
}
